body {
	background-color: #3F51B5;
	color: #f48db0;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.4;
	font-size: 16px;
	max-width: 36em;
	margin-right: auto;
	margin-left: auto;
	padding: 8px;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	border: 2px solid #f48db0;
}

h2 {
	color: white;
	font-size: 18px;
	font-weight: normal;
}

h3 {
font-size: 16px;
font-weight: bold;
color: white;
}

h4 {
font-size: 16px;
font-weight: bold;
color: white;
margin-top: 32px;
margin-bottom: 6px
}

p {
	margin-top:0;
	margin-bottom: 16px;
	text-indent: 8px;
}

em {
color: white;
display: block;
margin-bottom: 32px;
text-align:center;
}

ul {
font-style: italic;
}






